<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,109}</string>
			<key>spriteSourceSize</key>
			<string>{144,109}</string>
			<key>textureRect</key>
			<string>{{0,0},{144,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,100}</string>
			<key>spriteSourceSize</key>
			<string>{140,100}</string>
			<key>textureRect</key>
			<string>{{145,0},{140,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,196}</string>
			<key>spriteSourceSize</key>
			<string>{122,196}</string>
			<key>textureRect</key>
			<string>{{286,0},{196,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>bird_28_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,107}</string>
			<key>spriteSourceSize</key>
			<string>{142,107}</string>
			<key>textureRect</key>
			<string>{{483,0},{142,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_28_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,117}</string>
			<key>spriteSourceSize</key>
			<string>{152,117}</string>
			<key>textureRect</key>
			<string>{{626,0},{152,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_28-uhd.png</string>
		<key>size</key>
		<string>{779,122}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_28-uhd.png</string>
	</dict>
</dict>
</plist>
