<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_113_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,120}</string>
			<key>spriteSourceSize</key>
			<string>{126,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_113_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{117,116}</string>
			<key>spriteSourceSize</key>
			<string>{117,116}</string>
			<key>textureRect</key>
			<string>{{121,0},{116,117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_113_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,88}</string>
			<key>spriteSourceSize</key>
			<string>{126,88}</string>
			<key>textureRect</key>
			<string>{{238,0},{88,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_113_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{136,130}</string>
			<key>spriteSourceSize</key>
			<string>{136,130}</string>
			<key>textureRect</key>
			<string>{{327,0},{130,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_113-uhd.png</string>
		<key>size</key>
		<string>{458,136}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_113-uhd.png</string>
	</dict>
</dict>
</plist>
