<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_14_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,123}</string>
			<key>spriteSourceSize</key>
			<string>{144,123}</string>
			<key>textureRect</key>
			<string>{{0,0},{144,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,110}</string>
			<key>spriteSourceSize</key>
			<string>{132,110}</string>
			<key>textureRect</key>
			<string>{{145,0},{132,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{149,128}</string>
			<key>spriteSourceSize</key>
			<string>{149,128}</string>
			<key>textureRect</key>
			<string>{{278,0},{149,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,58}</string>
			<key>spriteSourceSize</key>
			<string>{46,58}</string>
			<key>textureRect</key>
			<string>{{428,0},{46,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{475,0},{4,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,66}</string>
			<key>spriteSourceSize</key>
			<string>{56,66}</string>
			<key>textureRect</key>
			<string>{{480,0},{56,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{537,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{556,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{571,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{598,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{633,0},{4,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{638,0},{42,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_14-uhd.png</string>
		<key>size</key>
		<string>{681,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_14-uhd.png</string>
	</dict>
</dict>
</plist>
