<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_26_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{139,139}</string>
			<key>spriteSourceSize</key>
			<string>{139,139}</string>
			<key>textureRect</key>
			<string>{{0,0},{139,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{139,139}</string>
			<key>spriteSourceSize</key>
			<string>{139,139}</string>
			<key>textureRect</key>
			<string>{{140,0},{139,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{147,147}</string>
			<key>spriteSourceSize</key>
			<string>{147,147}</string>
			<key>textureRect</key>
			<string>{{280,0},{147,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,68}</string>
			<key>spriteSourceSize</key>
			<string>{48,68}</string>
			<key>textureRect</key>
			<string>{{428,0},{48,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,60}</string>
			<key>spriteSourceSize</key>
			<string>{42,60}</string>
			<key>textureRect</key>
			<string>{{477,0},{42,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,76}</string>
			<key>spriteSourceSize</key>
			<string>{56,76}</string>
			<key>textureRect</key>
			<string>{{520,0},{56,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{577,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{596,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{611,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_26_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,36}</string>
			<key>spriteSourceSize</key>
			<string>{62,36}</string>
			<key>textureRect</key>
			<string>{{638,0},{36,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_26_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,30}</string>
			<key>spriteSourceSize</key>
			<string>{50,30}</string>
			<key>textureRect</key>
			<string>{{675,0},{30,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_26_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,44}</string>
			<key>spriteSourceSize</key>
			<string>{70,44}</string>
			<key>textureRect</key>
			<string>{{706,0},{44,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_26-uhd.png</string>
		<key>size</key>
		<string>{751,147}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_26-uhd.png</string>
	</dict>
</dict>
</plist>
