<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_20_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,113}</string>
			<key>spriteSourceSize</key>
			<string>{155,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{155,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{137,102}</string>
			<key>spriteSourceSize</key>
			<string>{137,102}</string>
			<key>textureRect</key>
			<string>{{156,0},{137,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{165,124}</string>
			<key>spriteSourceSize</key>
			<string>{165,124}</string>
			<key>textureRect</key>
			<string>{{294,0},{165,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{460,0},{48,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,38}</string>
			<key>spriteSourceSize</key>
			<string>{40,38}</string>
			<key>textureRect</key>
			<string>{{509,0},{38,40}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,64}</string>
			<key>spriteSourceSize</key>
			<string>{56,64}</string>
			<key>textureRect</key>
			<string>{{548,0},{56,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,50}</string>
			<key>spriteSourceSize</key>
			<string>{22,50}</string>
			<key>textureRect</key>
			<string>{{605,0},{22,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,46}</string>
			<key>spriteSourceSize</key>
			<string>{18,46}</string>
			<key>textureRect</key>
			<string>{{628,0},{18,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,58}</string>
			<key>spriteSourceSize</key>
			<string>{30,58}</string>
			<key>textureRect</key>
			<string>{{647,0},{30,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{67,34}</string>
			<key>spriteSourceSize</key>
			<string>{67,34}</string>
			<key>textureRect</key>
			<string>{{678,0},{34,67}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,30}</string>
			<key>spriteSourceSize</key>
			<string>{59,30}</string>
			<key>textureRect</key>
			<string>{{713,0},{30,59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,42}</string>
			<key>spriteSourceSize</key>
			<string>{75,42}</string>
			<key>textureRect</key>
			<string>{{744,0},{42,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_20-uhd.png</string>
		<key>size</key>
		<string>{787,124}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_20-uhd.png</string>
	</dict>
</dict>
</plist>
